@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@media screen and (max-width: 768px) {
  
  .list {
    flex-direction: row;
  }
  
  .list input,
  .list .input-form {
    font-size: 16px;
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⣤⣤⣤⣤⣤⣤⣤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⡿⠛⠉⠙⠛⠛⠛⠛⠻⢿⣿⣷⣤⡀⠀⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⠋⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⠈⢻⣿⣿⡄⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣸⣿⡏⠀⠀⠀⣠⣶⣾⣿⣿⣿⠿⠿⠿⢿⣿⣿⣿⣄⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠁⠀⠀⢰⣿⣿⣯⠁⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⣷⡄⠀ 
⠀⠀⣀⣤⣴⣶⣶⣿⡟⠀⠀⠀⢸⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⠀ 
⠀⢰⣿⡟⠋⠉⣹⣿⡇⠀⠀⠀⠘⣿⣿⣿⣿⣷⣦⣤⣤⣤⣶⣶⣶⣶⣿⣿⣿⠀ 
⠀⢸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⠀ 
⠀⣸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠉⠻⠿⣿⣿⣿⣿⡿⠿⠿⠛⢻⣿⡇⠀⠀ 
⠀⣿⣿⠁⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣧⠀⠀ 
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀ 
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀ 
⠀⢿⣿⡆⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡇⠀⠀ 
⠀⠸⣿⣧⡀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠃⠀⠀ 
⠀⠀⠛⢿⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⣰⣿⣿⣷⣶⣶⣶⣶⠶⠀⢠⣿⣿⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⣽⣿⡏⠁⠀⠀⢸⣿⡇⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⢹⣿⡆⠀⠀⠀⣸⣿⠇⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⢿⣿⣦⣄⣀⣠⣴⣿⣿⠁⠀⠈⠻⣿⣿⣿⣿⡿⠏⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠈⠛⠻⠿⠿⠿⠿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    margin: 0 5px 5px 5px 5px;
  }
}


h1,h2 {
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    width: 90%;
    max-width: 100vw;
    min-height: 90vh;
    padding: 2vh;
  }

  .name {
    margin-left: 1.75vw;
  }

  .comment {
    margin-left: 2vw;
    font-size: 11px;
    font-size: 1.45vw;
    overflow-wrap: break-word;
  }
  
  @media screen and (max-width: 768px) {
    .comment {
      font-size: 3vw;
    }
  }

/* Table */

table {
  margin-left: auto;
  margin-right: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 1vh;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow: hidden;
  word-wrap: break-word;
}

tr {
  border: none;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/* Headers, etc. */
  .listHeader,.result {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input forms && List */

.input-aria,
.qnty-aria,
.input-form {
  font-family: sans-serif;
  border: none;
  border: 2px solid rgb(65, 60, 60); /* Adjust the border thickness as needed */
}

.list input,
.list .input-form {
  font-size: 20px; /* Increase the font size as per your requirement */
  margin: 0 10px 10px 10px; /* Adjust the margin as needed */
  height: calc(100% - 4px); /* Subtract the total border height from the desired height */
}

.plus {
  width: 50px;
  height: 50px;
  display: inline-block;
  
  background:
    linear-gradient(#F87D09 0 0) top left,
    linear-gradient(#F87D09 0 0) top right,
    linear-gradient(#F87D09 0 0) bottom left,
    linear-gradient(#F87D09 0 0) bottom right;
  background-size: calc(50% - 1px) calc(50% - 1px); /* thickness = 2px (2*1px) */
  background-repeat: no-repeat;
  border: 10px solid #F87D09; /* length = 30px (50px - 2x10px) */
  box-sizing: border-box;
}

.radius {
  border-radius: 50%;
  margin: 1vh;
}

.del-btn,.edit-btn {
  font-family: 'Roboto', sans-serif;
  background-color: #486E9E;
  color: #F6E8E0;
  -webkit-text-fill-color: #F6E8E0;
  opacity: 1; /* required on iOS */
  border: none;
  border-radius: 1.5px;
}

.del-btn:hover {
  color: #CF505D;
  -webkit-text-fill-color: #CF505D;
}

.search-bar {
  display:block;
  padding: 1px 0px 1px 5px;
  border: none;
  border: 2px solid rgb(65, 60, 60);
  border-radius: 16px;
  text-indent: 10px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 20px; /* Increase the font size as per your requirement */
}

.search-bar:focus {
  outline: none;
  border-color:#0096FF;
  box-shadow:0 0 0 1px rgb(137, 207, 240);
}

.alert {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  background-color: #f44336;
  color:#F6E8E0;
  padding:1%;
  text-align: start;
  bottom: 2.5%;
  right: 5%;
  border-radius: 3px;
  word-wrap: break-word;
}

.modal {
  /*positioning*/
  position: absolute;
  top: 50%;
  left:50%;
  text-align:center;
  transform: translate(-50%, -50%);
  /*color*/
  display: none;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  border-radius: 3px;
}

.buttonOk {
  border-radius: 3px;
  background-color:#87d767;
  border:none;
}

.buttonOk:hover, .buttonCancel:hover {
  filter: brightness(0.9);
  border: 1px solid gray;
  cursor: pointer;
}

.div-modalcheckbox {
  display:inline-block;
  font-size:small;
}

.buttonCancel {
  border-radius: 3px;
  background-color:#CF505D;
  border:none;
}

.modal-checkbox:hover {
  cursor: pointer;
}

.modal-checkbox:checked {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.buttonOk, .buttonCancel {
  color: black;
  -webkit-text-fill-color: black;
}

.nosee {
  position:absolute;
  background-color:black;
  opacity: 0.8;
  z-index: 999;
  width:125%;
  height: 125%;
  display:none;
}
